/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.contacts-box {
	text-align: center;
	position: relative;
	margin-bottom: var(--sectionMargin);
	.title-inner-wrap {
		margin-bottom: 52px;
	}
	.slider-inner-wrap {
		margin: 50px 0 0 0;
	}
	.actions-inner-wrap {
		display: flex;
		gap: 5px;
		margin-bottom: 10px;;
		justify-content: center;
		flex-wrap: wrap;
		.btn {
			height: 40px;
			padding: 0 18px;
			min-width: 130px;
			font-size: 16px;
			gap: 5px;
		}
		.button-border {
			&:not(:hover) {
				border-color:  rgba(90, 102, 64, 0.25);
			}
		}
	}
	.info-inner-wrap {
		margin-bottom: 30px;
		color: rgba(90, 102, 64, 0.50);
	}
	.action-inner-wrap {
		.btn {
			height: 50px;
			min-width: 360px;
			font-size: 1em;
		}
	}
	.action-wrap {
		flex-shrink: 0;
	}
	.elm-photo {
		aspect-ratio: 270/320;
		border-radius: 20px;
	}
	.slider-wrap {
		overflow: visible;
		margin: 0 -10px;
	}
	.sl-wrap {
		padding: 0 10px;
		width: 290px;
	}
}
.cnt-box {
	border-radius: 20px;
	background: var(--clr-bg-light);
	margin-bottom: var(--sectionMargin);
	position: relative;
	padding: 20px;
	&>*:last-child {
		margin-bottom: 0;
	}
}
.article-box {
	font-size: 16px;
	margin-bottom: var(--sectionMargin);
	position: relative;
	b {
		font-weight: 500;
	}
}
.section-order {
	.content-wrap {
		.form-box {
			.frm-row-submit {
				display: none;
			}
		}
	}
}
.form-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.form-inner-wrap {
		padding: 10px 20px 20px 20px;
		&:first-child {
			padding-top: 20px;
		}
	}
	&.frm-popup {
		margin: 0;
		padding: 0;
	}
	.frm-row, .frm-row-submit {
		margin: 0 -5px;
	}
	.frm-row-submit {
		padding-top: 10px;
		.btn {
			width: 100%;
		}
		.frm-field {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.frm-field {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 10px;
		&:has(.frm-map) {
			margin-bottom: 20px;
		}
	}
	.field-half {
		width: 50%;
	}
	.button-menu {
		&:first-child {
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}
		&:last-child {
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
		}
		&:not(:hover) {
			background: #fff;
		}
	}
	.field-title {
		display: block;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 500;
		margin: 0 0 1em 0;
	}
	.menu-inner-box {
		.button-menu {
			border-radius: 0;
		}
	}
}
.lk-photo-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.elm-photo {
		border-radius: 25px;
		height: 240px;
		aspect-ratio: inherit;
	}
}
.lk-bonuses-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.items-wrap {
		margin: 0 -10px;
		gap: 15px;
	}
	.item-wrap {
		width: 100%;
		padding: 0 10px;
	}
	.btn.button-menu {
		background-color: var(--clr-bg-light);
		border-radius: 20px;
		&:hover {
			background-color: var(--clr-att);
		}
	}
}
.info-box {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--sectionMargin);
	position: relative;
	text-align: center;
	.box-inner-wrap {
		border-radius: 20px;
		background: var(--clr-bg-light);
		padding: 30px 20px 20px 20px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
	.section-title {
		font-size: 20px;
		line-height: 1.2;
		font-weight: 500;
		margin: 16px 0 25px 0;
	}
	.elm-ico {
		width: 48px;height: 48px;
		margin: 0 auto;
		opacity: 0.35;
	}
	.btn {
		width: 320px;
		max-width: 100%;
	}
}
.menu-inner-box {
	border-radius: 20px;
	position: relative;
	overflow: hidden;
	line-height: 1;
	margin-bottom: 10px;
	background: #fff;
	&.no-bg {
		background: none;
		border-radius: 0;
		.btn {
			border-radius: 20px;
		}
	}
	li {
		border-bottom: 1px solid var(--clr-bg);
		&:last-child {
			border-bottom: none;
		}
	}
	.menu-panel-wrap {
		padding: 16px 20px;
	}
	.menu-panel-form {
		display: flex;
		align-items: center;
		font-size: 20px;
		line-height: 1;
		gap: 10px;
		padding: 15px 20px;
		.panel-title {
			font-weight: 400;
			flex: 1;
		}
		.panel-action {
			flex-shrink: 0;
		}
		.btn {
			height: 30px;
			border-radius: 20px;
			padding: 0 9px;
			font-size: 16px;
			&:not(:hover) {
				&.button-border {
					border: 1px solid rgba(90, 102, 64, 0.10);
					color: rgba(90, 102, 64, 0.50);
				}
			}
		}
	}
	.panel-info {
		display: block;
		font-size: 16px;
		line-height: 1.2;
		color: rgba(90, 102, 64, 0.50);
		width: 100%;
		flex-shrink: 0;
		margin: 16px 0;
		img, svg {
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: auto;
			margin: -3px 0 0 2px;
			opacity: 0.7;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.frm-select-toggle {
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.card-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.back-inner-wrap {
		display: none;
	}
	.photos-inner-wrap {
		display: none;
		margin-bottom: 30px;
		.elm-photo {
			aspect-ratio: 676/450;
			border-radius: 25px;
		}
		.sl-wrap {
			padding: 0;
			.elm-photo {
				border-radius: 0;
			}
		}
	}
	.title-inner-wrap {
		margin-bottom: 24px;
		text-align: center;
		font-size: 14px;
		color: var(--clr-base-light);
		.elm-price-panel {
			justify-content: center;
			.price-unit {
				color: inherit;
				opacity: 0.6;
				display: none;
			}
		}
		.elm-cart-panel {
			margin: 26px auto 20px auto;
		}
		.page-title {
			margin-bottom: 18px;
		}
	}
	.info-section-wrap {
		padding: 20px;
		border-radius: 20px;
		background: var(--clr-bg-light);
		margin-bottom: 20px;
		&:has(.features-box) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.slider-wrap {
		margin: 0;
		border-radius: 25px;
		overflow: hidden;
	}
	.slider-pagination {
		position: absolute;
		bottom: 20px !important;
		left: 0;right: 0;
	}
}
.side-wrap {
	.tabs-box {
		.menu {
			gap: 18px;
			li {
				max-width: 140px;
			}
		}		
	}
}
.tabs-box {
	margin-bottom: 30px;
	.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		li {
			flex-basis: auto;
			flex-grow: 1;
			max-width: 180px;
		}
	}
	.btn {
		width: 100%;
	}
}
.components-box {
	margin-bottom: 20px;
	.items-wrap {
		margin: 0 -5px;
		gap: 10px 0;
	}
	.item-wrap {
		padding: 0 5px;
		width: 95px;
		&:has(.btn) {
			width: auto;
		}
	}
	.btn {
		height: 100%;
		width: 40px;
		aspect-ratio: inherit;
		border-radius: 20px;
		&:has(.button-ico:only-child) {
			aspect-ratio: inherit;
			width: 40px;
		}
		&.button-main {
			&:before {
				border-radius: 20px;
			}
		}
	}
}
.features-box {
	.menu {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		li {
			padding: 0 10px;
			flex-basis: auto;
			flex-grow: 1;
		}
	}
	.li-title {
		font-size: 12px;
		color: rgba(90, 102, 64, 0.50);
		margin: 3px 0 0 0;
	}
	.li-val {
		display: block;
		font-size: 18px;
		color: var(--clr-att);
	}
}
.tiles-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	.items-wrap {
		margin: 0 -7px;
		gap: 15px 0;
		&:has(.item-tile-cart) {
			gap: 10px 0;
		}
		&:has(.item-tile-order) {
			gap: 10px 0;
		}
		&:has(.item-tile-info) {
			gap: 10px 0;
		}
		&:has(.item-tile-data) {
			gap: 10px 0;
		}
	}
	.item-wrap {
		width: 50%;
		padding: 0 7px;
		&:has(>.button-menu) {
			padding-top: 10px;
		}
		&.wrap-full {
			width: 100%;
		}
	}
	.slider-wrap {
		margin: 0 -5px;
		overflow: visible;
	}
	.sl-wrap {
		padding: 0 5px;
		width: 160px;
		.item-tile-catalog {
			.tile-content-wrap {
				padding-top: 0;
			}
		}
	}
	.button-menu {
		width: 100%;
		border-radius: 20px;
		&:not(:hover) {
			background: #fff;
		}
	}
}
.title-box {
	margin-bottom: 18px;;
	position: relative;
}
.main-top-box {
	position: relative;
	&:has(.box-inner-wrap:hover) {
		.bg-full-wrap {
			img {
				transform: scale(1.03);
			}
		}
	}
	.section-link {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100dvw;
		min-width: var(--min);
		transform: translateX(-50%);
	}
	a.section-link {
		z-index: 20;
	}
	.bg-full-wrap {
		min-height: 874px;
		z-index: -1;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			background: linear-gradient(to bottom, rgba(233, 240, 211, 0.00) 38.44%, #E9F0D3 85.7%);
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 3;
			mask: linear-gradient(to bottom, transparent 0%, black 55.7%);
			-webkit-mask: linear-gradient(to bottom, transparent 0%, black 55.7%);
			backdrop-filter: blur(25px);
			-webkit-backdrop-filter: blur(25px);
		}
	}
	.slider-pagination {
		display: none;
	}
	.bg-overlay {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 4;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.00) 13.39%);
	}
	.box-inner-wrap {
		position: relative;
		z-index: 5;
		padding: 140px 0 40px 0;
		text-align: center;
		line-height: 1;
		font-size: 14px;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		min-height: 675px;
	}
	.slider-wrap {
		overflow: visible;
	}
	.section-title {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.elm-price-panel {
		justify-content: center;
		.price-unit {
			display: none;
		}
	}
}
.menu-box {
	margin-bottom: 20px;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
	white-space: nowrap;
	display: flex;
	gap: 10px;
	color: var(--clr-base-light);
	.filter-inner-wrap {
		flex-shrink: 0;
	}
	.menu-inner-wrap {
		flex: 1;
		max-width: calc(100% - 34px);
	}
	.slider-inner-wrap {
		margin-left: 0;
		margin-right: calc(var(--paddingContainer) * -1);
	}
	.sl-wrap {
		width: auto;
	}
	.btn-filter {
		width: 24px;height: 40px;
		line-height: 40px;
		color: inherit;
		&:hover {
			color: inherit;
		}
		.button-ico {
			flex-shrink: 0;
			margin: 0 auto;
			filter: var(--filterAttToLight);
		}
		.button-title {
			display: none;
		}
	}
	.btn-menu {
		display: block;
		padding: 0 10px;
		position: relative;
		color: inherit;
		&:hover {
			color: inherit;
			&:before {
				opacity: 1;
			}
		}
		&.active {
			&:before {
				opacity: 1;
			}
			.button-title {
				&:before, &:after {
					opacity: 1;
				}
			}
		}
		.button-title {
			position: static;
			&:before, &:after {
				content: "";
				display: block;
				width: 5px;height: 5px;
				border-radius: 50%;
				background: currentColor;
				position: absolute;
				left: 10px;;bottom: 0;
				opacity: 0;
				transition: all ease 0.2s;
			}
			&:after {
				left: auto;
				right: 10px;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 2px;
			left: 10px;right: 10px;
			height: 1px;
			filter: none;
			background: currentColor;
			opacity: 0;
			transition: all ease 0.2s;
		}
	}
}
.side-order-form-box,
.side-profile-box,
.side-actions-box {
	margin-bottom: 18px;
	position: relative;
	.btn {
		width: 100%;
	}
	&:last-child {
		margin-bottom: var(--sectionMargin);
	}
}
.side-order-form-box {
	.title-box {
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
	}
	.menu-inner-box {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 10px;
		}
	}
	.frm-row, .frm-row-submit {
		margin: 0 -5px;
	}
	.frm-row-submit {
		padding-top: 10px;
		.btn {
			width: 100%;
		}
		.frm-field {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.frm-field {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 10px;
		&:has(.frm-map) {
			margin-bottom: 20px;
		}
	}
	.field-half {
		width: 50%;
	}
}
.side-profile-box {
	z-index: 3;
}
.side-order-box {
	margin-bottom: 18px;
	position: relative;
	border-radius: 20px;
	background: var(--clr-bg-light);
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	&:last-child {
		margin-bottom: var(--sectionMargin);
	}
	.row-wrap {
		display: block;
		padding: 15px 20px;
		border-bottom: 1px solid var(--clr-bg);
		&:last-child {
			border-bottom: none;
		}
	}
	.elm-scale-wrap {
		margin-top: 4px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.actions-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	z-index: 2;
	.items-wrap {
		margin: 0 -10px;
		gap: 20px 0;
	}
	.item-wrap {
		width: 50%;
		padding: 0 10px;
		flex-shrink: 0;
	}
	.slider-wrap {
		margin: 0 -10px;
	}
	.sl-wrap {
		padding: 0 10px;
	}
}
.video-box {
	margin-bottom: var(--sectionMargin);
	position: relative;
	line-height: 1.4;
	.box-inner-wrap {
		border-radius: 20px;
		background: var(--clr-bg-light);
		padding: 20px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.photo-inner-wrap {
		order: -1;
	}
	.elm-photo {
		aspect-ratio: 636/360;
	}
}
.bg-full-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	overflow: hidden;
	img {
		transition: all ease-out 1s;
	}
}
.bg-box {
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100dvw;
		min-width: var(--min);
		transform: translateX(-50%);
		overflow: hidden;
		background: var(--clr-bg-light);
	}
	&>*:last-child {
		margin-bottom: 0;
	}
}
.content-outer-wrap {
	display: flex;
	flex-direction: column;
	&.section-lk {
		.side-wrap {
			order: 1;
		}
		.content-wrap {
			order: 2;
		}
	}
}
.side-wrap {
	order: 2;
	width: 100%;
	flex-shrink: 0;
}
.content-wrap {
	order: 1;
	flex-shrink: 0;
	width: 100%;
}