<!--popup-outer-box-->
<div class="popup-outer-box popup-filter" id="popup-filter">
	<div class="popup-box">
		<div class="popup-title-wrap">
			<div class="popup-actions">
				<a href="" class="btn button-main btn-popup-back">
					<div class="button-ico btn-action-ico ico-back"></div>
				</a>
				<a href="" class="btn button-main btn-popup-close js-popup-close">
					<div class="button-ico btn-action-ico ico-close"></div>
				</a>
			</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="form-box frm-popup js-toggle-buttons">
				<!--menu-inner-box-->
				<div class="menu-inner-box">
					<ul class="menu">
						<li>
							<div class="frm-select-check">
								<input type="checkbox" id="select01">
								<label for="select01">Вегетарианские</label>
							</div>
						</li>
						<li>
							<div class="frm-select-check">
								<input type="checkbox" id="select02">
								<label for="select02">мясные</label>
							</div>
						</li>
						<li>
							<div class="frm-select-check">
								<input type="checkbox" id="select03">
								<label for="select03">острые</label>
							</div>
						</li>
						<li>
							<div class="frm-select-check">
								<input type="checkbox" id="select04">
								<label for="select04">морепродукты</label>
							</div>
						</li>
					</ul>
				</div>
				<!--/menu-inner-box-->
				<div class="form-inner-wrap">
					<div class="frm-row">
						<div class="frm-field field-half">
							<input type="text" class="form-input" placeholder="Цена, от">
						</div>
						<div class="frm-field field-half">
							<input type="text" class="form-input" placeholder="до">
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field">
							<button type="submit" class="btn">
								<div class="button-title">Применить</div>
							</button>
						</div>
						<div class="frm-field">
							<button type="reset" class="btn button-link">
								<div class="button-title">Очистить фильтр</div>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->
