<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-filter">
	<div class="popup-box">
		<div class="popup-title-wrap">
			<div class="popup-actions">
				<a href="" class="btn button-main btn-popup-back">
					<div class="button-ico btn-action-ico ico-back"></div>
				</a>
				<a href="" class="btn button-main btn-popup-close js-popup-close">
					<div class="button-ico btn-action-ico ico-close"></div>
				</a>
			</div>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="form-box frm-popup js-toggle-buttons">
				<!--menu-inner-box-->
				<div class="menu-inner-box">
					<ul class="menu">
						<li>
							<a href="" class="btn button-menu button-menu-check js-btn-tgl-one">
								<div class="button-title">Вкусно</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-menu button-menu-check js-btn-tgl-one">
								<div class="button-title">Немного солено</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-menu button-menu-check js-btn-tgl-one">
								<div class="button-title">Лучше горьковато</div>
							</a>
						</li>
						<li>
							<a href="" class="btn button-menu button-menu-check js-btn-tgl-one">
								<div class="button-title">А не, давайте пресно</div>
							</a>
						</li>
					</ul>
				</div>
				<!--/menu-inner-box-->
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->
