
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="title-inner-wrap">
			<p>© 2025, AP.cake</p>
			<p>
				<a href="tel:89806425606">+7 980 642 56 06</a>
				<span class="dot">•</span>
				Бульвар Радищева. 48
			</p>
			<p>
				пн-чт, вс с 8:00 до 23:00 
				<br>
				<span class="dot elm-hidden-mobile">•</span>
				пт-сб с 8:00 до 00:00
			</p>
		</div>
		<div class="info-inner-wrap">
			<div class="soc-inner-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc01.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc02.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc03.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc04.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc05.svg" alt="">
				</a>
			</div>
			<div class="studio-inner-wrap">
				<p>Сделано в <a href="" class="link-studio">Вебуспех <img src="./img/icons/studio.svg" alt=""></a></p>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<div class="elm-page-actions-panel">
	<div class="panel-actions-wrap">
		<a href="" class="btn-page-back btn button-main js-all-back">
			<div class="button-ico btn-action-ico ico-back"></div>
		</a>
	</div>
	<div class="panel-actions-wrap">
		<a href="" class="btn-page-del btn button-main">
			<div class="button-ico btn-action-ico ico-trash"></div>
		</a>
		<a href="" class="btn-page-chat btn button-main">
			<div class="button-ico btn-action-ico ico-chat"></div>
		</a>
		<a href="" class="btn-page-close btn button-main js-all-close">
			<div class="button-ico btn-action-ico ico-close"></div>
		</a>
	</div>
</div>