

<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-inner-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="actions-inner-wrap">
			<div class="info-wrap">
				<p><a href="tel:89806425606">+7 980 642 56 06</a></p>
				<p>бульвар Радищева, д. 48</p>
			</div>
			<div class="panel-wrap">
				
				<a href="" class="panel-order-wrap elm-panel" id="panel">
					<div class="panel-title" data-unit=" ₽">0</div>
					<div class="panel-items"></div>
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn-action btn button-main">
					<div class="button-ico">
						<img src="./img/icons/user.svg" alt="">
					</div>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->